p{
    margin-top: 0%;
    color: rgb(0, 0, 0);
    font-size: 16pt;

}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 400px;
  border: 10px;
}

body

{
    text-align: center;
     background-color: lightgrey;
     background-image: url("obrazek.jpg");
}
header
{
font-size: 32pt;
color: rgb(231, 22, 15);




}

